 <div class="col-12">
	<div class="row">
		<div class="col-6">
			<ul class="row">
				<li class="card col-12" *ngFor="let passenger of passengers">
					<app-passenger 
					[passenger]="passenger" (deletePassenger)="deletePassenger($event)" (editedPassenger)="editedPassenger($event)">
					
				</app-passenger>
				</li>
			</ul>
		</div>
		<div class="col-6">
			<app-passenger-add (addedPassenger)="addedPassenger($event)" (editedPassenger)="editedPassengerSave($event)" [selectedPassenger]="selectedPassenger" [canAdd]='!loading'></app-passenger-add>
			<div *ngIf="loading">
				loading...
			</div>
		</div>
	</div>
</div>